# Rename this file to .htaccess
# It will be invisible on Mac/Linux

# To rename in windows, you may have to open a text editor
# then Save File As ".htaccess"

 RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]  